@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animatedBackground {
    background: linear-gradient(45deg, rgb(221, 221, 221), rgb(255, 227, 186), rgb(255, 241, 193));
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
  }
  